/* NAVBAR CSS
-------------------------*/
.carousel {
    margin-top: 30px;
    position: relative;

}

.carousel .item img {
    margin: 0 auto; /* Align slide image horizontally center */
}

.bs-example {
    margin: 0px;
}


