@import "styles/variables.scss";

/* FOOTER CSS
-------------------------*/

#client {
    height: 300px;
}

#client > .customer-list {
    padding-top: 30px;
    padding-bottom: 50px;
}

.owl-pagination {
    display: none;
}

@media (max-width: 900px) {}

@media (max-width: 480px) {
    h2 {
        font-size: 30px;
    }
    .owl-pagination {
        display: inline;
    }
    #client {
        height: 330px;
    }
}