@import "styles/variables.scss";

/* FOOTER CSS
-------------------------*/

#unbox {
    height: 1130px;
    background-image: url("../images/unbox_bg.jpg");
}

.le-area {
    background-image: url("../images/le_bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    resize: none;
    border: none;
    height: 645px;
}

.le-area > .container > .row > .col-md-6 {
    text-align: left;
    min-height: 445px;
    padding-top: 70px;
}

.le-featured {
    max-width: 75%;
    height: 200px;
    background-image: url("../images/le-featured_bg.jpg");
    padding: 40px 70px 25px 70px;
}

.unbox-area {
    min-height: 485px;
    border: none;
}

.padding-top-unbox {
    padding-top: 50px;
}

#Unbox-Carousel > .carousel-inner > .item > .carousel-content > .row {
    padding-left: 12%;
    padding-right: 12%;
    height: 220px;
}

.carousel {
    margin-left: -35px;
}

#Unbox-Carousel > .carousel-indicators {
    padding-top: 300px;
}

#Unbox-Carousel > .carousel-indicators li {
    border: none;
    background-color: #d32d40;
}

#Unbox-Carousel > .carousel-indicators .active {
    width: 11px;
    height: 11px;
    background-color: #fff;
}

@media (max-width: 1199px) {
    .le-featured {
        max-width: 78%;
        padding: 40px 40px 25px 40px;
    }
    .padding-top-unbox {
        padding-top: 40px;
    }
    #Unbox-Carousel > .carousel-inner > .item > .carousel-content > .row {
        padding-left: 5%;
        padding-right: 5%;
        height: 230px;
    }
}

@media (max-width: 990px) {
    .le-featured {
        max-width: 100%;
        padding: 30px 35px 25px 35px;
    }
    .padding-top-unbox {
        padding-top: 20px;
    }
    #Unbox-Carousel > .carousel-inner > .item > .carousel-content > .row {
        padding-left: 2%;
        padding-right: 2%;
        height: 280px;
    }
}

@media (max-width: 767px) {
    .le-featured {
        padding: 20px 35px 25px 35px;
    }
    .carousel {
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    #unbox {
        height: 1300px;}
    
    .le-area {
        height: 755px;
    }
    .le-featured {
        padding: 35px 40px 25px 40px;
        height: 310px;
    }
    h2.inverted {
        font-size: 30px;
    }
    .col-xs-7 {
        width: 85%;
    }
    .unbox-area {
        height: 480px;
    }
    #Unbox-Carousel > .carousel-inner > .item > .carousel-content > .row {
        padding-left: 2%;
        padding-right: 2%;
        height: 360px;
    }
    .padding-top-unbox {
        padding-top: 0px;
    }
}