#clients {
    height: 500px;
}

#clients > .customer-list {
    padding-top: 30px;
    padding-bottom: 50px;
}

.img-padding {
    padding-top: 20px;
}

@media (max-width: 900px) {}

@media (max-width: 480px) {
    #clients {
        height: auto;
    }
    h2 {
        font-size: 30px;
    }
}
