/* VIDEO CSS
-------------------------*/
#home {
    margin-top: -20px;
    background-image: url("../images/bg_intro_1920.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    resize: none;
    height: 940px;
    border: none;
}

.overlay-intro {
    margin-left: -16px;
    position: absolute;
    width: 100%;
    height: 940px;
    z-index: 1;
    background: transparent url(../images/pattern.png) repeat top left;
}

.intro-cell {
    padding-top: 450px;
    height: 825px;
}

@media (max-width: 480px) {
    #home {
        margin-top: -20px;
        background-image: url("../images/bg_intro_480.jpg");
        height: 600px;
    }
    .overlay-intro {
        height: 600px;
    }
    .intro-cell {
        padding-top: 200px;
        height: 525px;
    }
    #home > .overlay-intro > .intro-cell > h1 {
        font-size: 30px;
    }
    .triangle-botton {
        width: 150px;
    }
}