<section class="container text-center">

    <img src="images/client_top.jpg"/>

    <h2>CLIENTES</h2>

    <img src="images/line_title.jpg">

    <div class="row">
            <div class="col-md-3" ><img src="images/client/logo_furukawa.jpg" alt="Furukawa" class="img-padding"></div>
            <div class="col-md-3"><img src="images/client/logo_metlife.jpg" alt="MetLife" class="img-padding"></div>
            <div class="col-md-3"><img src="images/client/logo_hsbc.jpg" alt="HSBC" class="img-padding"></div>
            <div class="col-md-3"><img src="images/client/logo_oboticario.jpg" alt="O Boticário" class="img-padding"></div>
            <div class="col-md-3"><img src="images/client/logo_gp.jpg" alt="GP Strategies" class="img-padding"></div>
            <div class="col-md-3"><img src="images/client/logo_gazetadopovo.jpg" alt="Gazeta do Povo" class="img-padding"></div>
            <div class="col-md-3"><img src="images/client/logo_grpcom.jpg" alt="GRPCOM" class="img-padding"></div>
            <div class="col-md-3"><img src="images/client/logo_gupoboticario.jpg" alt="Grupo O Boticário" class="img-padding"></div>
        
    </div>

</section>