<section class="container-fluid text-center">
    <div class="overlay-foot">
        <img src="images/foot_seta.jpg">
        <h3 class="inverted">CONTATO</h3>
        <img src="images/line_title_w.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <img src="images/icons/icon_mail.svg" class="icon-padding" />
                    <p class="inverted"><a href="mailto:contato@unbox.com.br?subject=Contato Site">contato@unbox.com.br</a></p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <img src="images/icons/icon_phone.svg" class="icon-padding" />
                    <p class="inverted">+55 (41) 3053-5320</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <img src="images/icons/icon_face.svg" class="icon-padding" />
                    <p class="inverted"><a href="https://www.facebook.com/UNBOX-Learning-Experience-180438515332939" target="_blank">facebook.com/<br>UNBOXLearnigExperience</a></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <img src="images/icons/icon_map.svg" class="icon-padding" />
                    <address>
                        <p class="inverted">Infinity Prime Offices <br>Av. Anita Garibaldi, 850 - Sala 405 - Torre Sucess, Cabral, Curitiba - PR</p>
                    </address>
                </div>
            </div>
            <div class="padding-copyright">
                <div class="background-copyright">
                    <p class="copyright">Copyright ©&nbsp; UNBOX&nbsp; ®&nbsp; Learning Experience&nbsp; .&nbsp; 2017&nbsp; .&nbsp; Todos os direitos reservados. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</section>
