<section class="container-fluid text-center bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                <img src="images/solucoes_top.jpg" />
                <br>
                <br>
                <h2>SOLUÇÕES</h2>
                <img src="images/line_title.jpg" />
                <br>
                <br>
                <br>
                <br>
                <img src="images/icons/icon_solution.svg" />
                <br>
                <h3>–  UNBOX Custom Training  –</h3>
                <br>
                <p>O nosso serviço de desenvolvimento de treinamentos tem como natureza a criação de um produto altamente personalizado, diretamente alinhado a necessidade do cliente. Para estes treinamentos podemos contar com as seguintes possibilidades:</p>
            </div>
        </div>
        <div class="row text-left content-folks">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="images/icons/icon_elearning.svg" class="img-padding" />
                <p class="inverted"><strong>E-Learning</strong></p>
                <br>
                <p>A modalidade de treinamento online permite abordar várias possibilidades de linguagens, sejam visuais, narrativas, interativas e tecnológicas. Podemos contar com vídeos, animações, atividades e avaliações. Este material pode ser direcionado a uma plataforma desktop, mobile ou responsiva, cada qual com suas particularidades.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="images/icons/icon_game.svg" class="img-padding" />
                <p class="inverted"><strong>Game Based Learning</strong></p>
                <br>
                <p>A proposta é utilizar conceitos de desenvolvimento de jogos para desenvolver materiais instrucionais. Tem como sua essência promover o desafio e a conquista de uma recompensa. Pode se tangibilizar, em um acompanhamento de uma jornada, disputas entre usuários, rankings ou conquistas de objetivos.
                    <br>
                    <br>
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="images/icons/icon_caminhos.svg" class="img-padding" />
                <p class="inverted"><strong>Caminhos de Aprendizagem</strong></p>
                <br>
                <p>Eventualmente o aprendizado de apenas um conteúdo não é o suficiente para o preparo desejado de um usuário. Para estes casos existem os caminhos de aprendizagem. Uma composição de vários objetos de aprendizagem de forma coerente e coesa, que compõe uma jornada para se adquirir o conhecimento desejado.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="images/icons/icon_apoio.svg" class="img-padding" />
                <p class="inverted"><strong>Materiais e sistemas de apoio</strong></p>
                <br>
                <p>A UNBOX também desenvolve sistemas de pequeno porte ou outros materiais que se comportam como suporte a uma estratégia instrucional. Como exemplo, é possível desenvolver um sistema de cadastro, uma interatividade digital específica, uma animação ou video, uma avaliação ou até algum material gráfico.</p>
            </div>
        </div>
        <div class="container text-center">
            <div class="box-folks text-left">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="padding-box-folks">
                            <img src="images/icons/icon_performance.svg" />
                            <h3 class="inverted">UNBOX Performance  –</h3>
                            <p class="inverted">Um acervo de treinamentos prontos que agregam todos os conceitos e bagagem que a UNBOX aplica no desenvolvimento de seus materiais. Estes treinamentos foram desenvolvidos e estão disponíveis em formato de assinatura mensal, compondo uma alternativa ágil e econômica para temas comuns e recorrentes do contexto corporativo.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="padding-box-folks">
                            <img src="images/icons/icon_lms.svg" />
                            <h3 class="inverted">FOLKS LMS  –</h3>
                            <p class="inverted">FOLKS LMS é um serviço de gestão de aprendizado. Este serviço é centralizado em uma plataforma LMS que oferece uma eficiente experiência de progressão curricular, gerenciando de forma inteligente, organizada e ágil seus materiais de aprendizagem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" align="center">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <br>
                <br>
                <h2>PACOTE UNBOX PERFORMANCE</h2>
                <img src="images/line_title.jpg">
                <h4>Alguns treinamentos que compõe o pacote UNBOX Performance.</h4>
                <br>
                <br>
            </div>
        </div>
        <!-- Accordion -->
        <div class="roadmap-table panel-group">
            <div class="row panel panel-default">
                <div class="col-md-offset-1 col-md-2 col-sm-6 col-xs-12">
                    <img src="images/performance/perf_00.png" class="img-padding">
                    <p>Finanças Pessoais</p>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse0" type="button" class="btn btn-default">Conhecer</a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <img src="images/performance/perf_01.png" class="img-padding">
                    <p>Excel para o dia a dia</p>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" type="button" class="btn btn-default">Conhecer</a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <img src="images/performance/perf_02.png" class="img-padding">
                    <p>Liderança</p>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" type="button" class="btn btn-default">Conhecer</a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <img src="images/performance/perf_03.png" class="img-padding">
                    <p>Apresentações</p>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" type="button" class="btn btn-default">Conhecer</a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <img src="images/performance/perf_04.png" class="img-padding">
                    <p>Gestão do tempo</p>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" type="button" class="btn btn-default">Conhecer</a>
                </div>
            </div>
        </div>
        <div class="panel-group text-center" id="accordion">
            <div class="panel panel-default">
                <div id="collapse0" class="panel-collapse collapse">
                    <img src="images/line_marinho.jpg" class="line-collapse" />
                    <div class="panel-body row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <img src="images/performance/perf_apli_0.png">
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12 text-left">
                            <h3>Finanças Pessoais</h3>
                            <hr>
                            <h4>Você planeja seus gastos? Sabe quais são suas reais prioridades de consumo? Está atento(a) ao valor de sua receita e sabe controlar os gastos mensais de acordo com o que tem em caixa?</h4>
                            <hr>
                            <p>O cuidado com seu planejamento financeiro traz diversos benefícios para sua vida, mas ele é muito mais do que colocar os gastos e as receitas em um papel, é uma forma de cuidar do seu futuro, definir e alcançar grandes metas e realizar seus sonhos. Iremos mostrar para você quais são as boas práticas para facilitar o sucesso financeiro, conheça o <i>Unbox Performance Finanças Pessoais</i> e inicie a sua caminhada.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="collapse1" class="panel-collapse collapse">
                    <img src="images/line_marinho.jpg" class="line-collapse" />
                    <div class="panel-body row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <img src="images/performance/perf_apli_1.png">
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12 text-left">
                            <h3>Excel para o dia a dia</h3>
                            <hr>
                            <h4>Nosso trabalho é criar para os usuários finais uma experiência de aprendizagem significativa através de um ambiente organizado, eficiente e estimulante.</h4>
                            <hr>
                            <p>A proposta deste material é oferecer um aprendizado objetivo e ágil, focado nas principais funções da ferramenta para ser utilizado no dia-a-dia. Passando por informações básicas, avançadas e principalmente aprender a tirar o melhor proveito da ferramenta de acordo com sua necessidade. Conheça o <i>Unbox Performance Excel para o dia a dia</i> e descubra como ser ágil e efetivo ao utilizar o Excel.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="collapse2" class="panel-collapse collapse">
                    <img src="images/line_marinho.jpg" class="line-collapse" />
                    <div class="panel-body row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <img src="images/performance/perf_apli_2.png">
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12 text-left">
                            <h3>Liderança</h3>
                            <hr>
                            <h4>Quando você ouve a palavra liderança, o que vem em sua mente? Uma imagem de alguém que ajuda ativamente a conduzir as pessoas rumo aos objetivos planejados ou alguém que costuma mandar, delegar ordens e funções e que espera do outro lado da mesa bons resultados? Certo?</h4>
                            <hr>
                            <p>Um bom líder não é aquele que apenas delega ordens, mas sim aquele que trabalha constantemente para motivar todos os liderados. Neste treinamento mostramos o que é liderança e algumas dicas para ser um excelente líder. O <i>Unbox Performance Liderança</i> mostrará a diferença entre liderança e gestão, os principais objetivos de um líder, como motivar os colaboradores, entre outros tópicos importantes para esse perfil de profissional.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="collapse3" class="panel-collapse collapse">
                    <img src="images/line_marinho.jpg" class="line-collapse" />
                    <div class="panel-body row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <img src="images/performance/perf_apli_3.png">
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12 text-left">
                            <h3>Apresentações</h3>
                            <hr>
                            <h4>Você já parou para pensar quais caminhos os grandes palestrantes percorrem para realizar uma boa apresentação? Não? Nós explicamos a você como preparar e realizar uma apresentação memorável! </h4>
                            <hr>
                            <p>Este treinamento aborda os principais pontos para se preparar e realizar uma apresentação. Passando pelo planejamento, construção e estruturação do conteúdo da apresentação, quais a ferramentas que encontramos no mercado e até o como se portar durante a apresentação em si. O <i>Unbox Performance Apresentações</i> foi desenvolvido para desmistificar e auxiliar nessa tarefa diária que não precisa ser árdua para nenhum profissional.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="collapse4" class="panel-collapse collapse">
                    <img src="images/line_marinho.jpg" class="line-collapse" />
                    <div class="panel-body row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <img src="images/performance/perf_apli_4.png">
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12 text-left">
                            <h3>Gestão do tempo</h3>
                            <hr>
                            <h4>Ao final do seu dia você percebe que não fez tudo o que havia programado e que as suas horas não foram tão produtivas quanto gostaria? Você está sofrendo de um problema que afeta milhares de pessoas em todo o mundo: a falta de tempo.</h4>
                            <hr>
                            <p>Por isso, aprender a controlar o seu tempo é essencial para que você possa organizar os seus compromissos e afazeres do dia a dia. No treinamento Unbox Performance Getsão do Tempo, forneceremos diversas dicas para que você possa organizar o seu tempo e tornar o seu dia a dia muito mais produtivo. Quer ver como?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
