<section id="solutions" class="container-fluid text-center">

    <div class="container">

        <div class="">
            <img src="images/solucoes_top.jpg" />
            <br>
            <br>
            <h2>SOLUÇÕES</h2>
            <img src="images/line_title.jpg" />
            <br>
            <br>
            <br>
            <br>
            <img src="images/icons/icon_solution.svg" />
            <br>
            <h3>–  UNBOX Custom Training  –</h3>
            <br>
            <p>O nosso serviço de desenvolvimento de treinamentos tem como natureza a criação de um produto altamente personalizado, diretamente alinhado a necessidade do cliente. Para estes treinamentos podemos contar com as seguintes possibilidades:</p>
        </div>

        <div class="row text-left content-folks">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="images/icons/icon_elearning.svg" />
                <p class="inverted"><strong>E-Learning</strong></p>
                <br>
                <p>A modalidade de treinamento online permite abordar várias possibilidades de linguagens, sejam visuais, narrativas, interativas e tecnológicas. Podemos contar com vídeos, animações, atividades e avaliações. Este material pode ser direcionado a uma plataforma desktop, mobile ou responsiva, cada qual com suas particularidades.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="images/icons/icon_game.svg" />
                <p class="inverted"><strong>Game Based Learning</strong></p>
                <br>
                <p>A proposta é utilizar conceitos de desenvolvimento de jogos para desenvolver materiais instrucionais. Tem como sua essência promover o desafio e a conquista de uma recompensa. Pode se tangibilizar, em um acompanhamento de uma jornada, disputas entre usuários, rankings ou conquistas de objetivos.
                    <br>
                    <br>
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="images/icons/icon_caminhos.svg" />
                <p class="inverted"><strong>Caminhos de Aprendizagem</strong></p>
                <br>
                <p>Eventualmente o aprendizado de apenas um conteúdo não é o suficiente para o preparo desejado de um usuário. Para estes casos existem os caminhos de aprendizagem. Uma composição de vários objetos de aprendizagem de forma coerente e coesa, que compõe uma jornada para se adquirir o conhecimento desejado.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="images/icons/icon_apoio.svg" />
                <p class="inverted"><strong>Materiais e sistemas de apoio</strong></p>
                <br>
                <p>A UNBOX também desenvolve sistemas de pequeno porte ou outros materiais que se comportam como suporte a uma estratégia instrucional. Como exemplo, é possível desenvolver um sistema de cadastro, uma interatividade digital específica, uma animação ou video, uma avaliação ou até algum material gráfico.</p>
            </div>
        </div>

        <div class="container text-center">
            <div class="box-folks text-left">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="padding-box-folks">
                            <img src="images/icons/icon_performance.svg" />
                            <h3 class="inverted">UNBOX Performance  –</h3>
                            <p class="inverted">Um acervo de treinamentos prontos que agregam todos os conceitos e bagagem que a UNBOX aplica no desenvolvimento de seus materiais. Estes treinamentos foram desenvolvidos e estão disponíveis em formato de assinatura mensal, compondo uma alternativa ágil e econômica para temas comuns e recorrentes do contexto corporativo.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="padding-box-folks">
                            <img src="images/icons/icon_lms.svg" />
                            <h3 class="inverted">FOLKS LMS  –</h3>
                            <p class="inverted">FOLKS LMS é um serviço de gestão de aprendizado. Este serviço é centralizado em uma plataforma LMS que oferece uma eficiente experiência de progressão curricular, gerenciando de forma inteligente, organizada e ágil seus materiais de aprendizagem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>