<section>

    <!-- Learning Experience -->
    <section id="top-separator" class="container-fluid le-area">
        <div class="container le-content">
            <div class="row text-left">
                <div class="col-md-6 col-sm-7 col-xs-12">
                    <h2 class="inverted">LEARNING EXPERIENCE</h2>
                    <img src="images/line_title_w.jpg">

                    <h3 class="ligth">O que nos move.</h3>

                    <p class="inverted">Por que viajamos a novos lugares, experimentamos novas comidas, registramos em fotos e vídeos diferentes momentos de nossas vidas? Fazemos isso para vivenciar e relembrar boas experiências.
                        <br>
                        <br>Experimentar, interagir e vivenciar o conhecimento, é sem dúvida alguma a maneira mais eficiente de se aprender algo.
                    </p>
                </div>
            </div>

            <div class="container le-featured text-center">
                <div class="row">
                    <p class="inverted">Focamos nas pessoas para criar materiais relevantes, que sejam interessantes para os usuários.
                        <br>Fluídos, como uma conversa, intuitiva e dinâmica. Que ofereça um retorno real e tangível, como uma boa lembrança.
                        <br>
                        <br>Estas são as características que a UNBOX leva em consideração para criar soluções de ensino para sua empresa. Criando boas experiências para quem as usa. Esta é a nossa bandeira, isso é Learning Experience.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Unbox -->
    <section class="unbox-area container text-center">
        <img src="images/unbox_top.jpg"/>

        <div class="padding-top-unbox">
            <h2 class="inverted">UNBOX</h2>
            <img src="images/line_title_w.jpg">
        </div>

        <div class="container">
            <br>

            <div id="unbox-carousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#unbox-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#unbox-carousel" data-slide-to="1"></li>
                    <li data-target="#unbox-carousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <div class="carousel-content">
                            <div class="row">
                                <h4 class="inverted"><strong>Uma empresa comprometida com o aprendizado.</strong></h4>

                                <p class="featured">A UNBOX é uma empresa de Curitiba que atua a 6 anos no desenvolvimento de treinamentos corporativos.
                                    <br> Diferente da grande maioria do mercado, nossa experiência com a área instructional se iniciou nas áreas de comunicação e tecnologia.
                                    <br> Estes conhecimentos nos permitem explorar novas possibilidades, criando caminhos de aprendizagem ricos e elaborados, com uma linguagem de fácil assimilação e próxima para o usuário, de forma interativa e estimulante.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="carousel-content">
                            <div class="row">
                                <h4 class="inverted"><strong>Diferentes culturas, diferentes experiências.</strong></h4>

                                <p class="featured">A UNBOX busca sempre a aproximação e o contato com nossos clientes.
                                    <br>Este contato nos traz um real entendimento da cultura da empresa, das pessoas que a compõe e suas necessidades.
                                    <br>Este relacionamento gera um agradável engajamento e ótimos resultados.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="carousel-content">
                            <div class="row">
                                <h4 class="inverted"><strong>A tecnologia a favor da educação.</strong></h4>

                                <p class="featured">O uso inteligente da tecnologia tem um papel fundamental nos projetos da UNBOX.
                                    <br>Estamos sempre explorando as novas possibilidades que surgem a cada dia e mais importante que isso, fazemos um uso consciente destes recursos tecnológicos, pois estes devem estar alinhados ao contexto de cada cliente.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->

                <!--
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            -->
            </div>
        </div>
    </section>

</section>